<div class="container mt-4">
    <h2>Employee Dashboard</h2>
    <br>
    <div class="btnalign">
        <button type="button" class="addUser" (click)="openAddModal()">
            ➕ Add User
        </button>
        <button type="button" class="logout" (click)="onLogout()">
            ⏻ Log-Out
        </button>
    </div>

    @if (isUsersLoading) {
    <span class="loader">
        <p>Loading Users...</p>
    </span>
    }

    @if (isRequestsLoading) {
    <span class="loader">
        <p>Loading Requests...</p>
    </span>
    }
    <br><br>
    <table width="100%" cellpadding="10">
        <tbody>
            <tr>
                <th>Actions</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Reportees</th>
            </tr>

            @for (user of getPaginationUsers(); track user.id) {
            <tr>
                <td>
                    <button type="button" class="edit" (click)="editUser(user)">
                        📝
                    </button>
                    <button type="button" class="delete" (click)="deleteUser(user.id || 0)">
                        Delete
                    </button>

                    <button type="button" class="menu" [disabled]="!hasPendingRequests(user.id || 0)"
                        (click)="openPending(user.id || 0)">
                        @if (openedRowId === user.id && openedType === 'pending') {
                        🔺
                        } @else {
                        🔻
                        }
                    </button>

                    <button type="button" class="history" [disabled]="!hasRequests(user.id || 0)"
                        (click)="openHistory(user.id || 0)">
                        ⌛
                    </button>
                </td>
                <td>{{ user.user_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ getReporteeNames(user.reportee) }}</td>
            </tr>

            @if (openedRowId === user.id) {

            <tr>
                <td colspan="5">
                    <div>
                        @if (openedType === 'pending') {
                        <h4>Pending Requests</h4>
                        @for (request of requests(); track request.id) {
                        @if (
                        request.userId === user.id &&
                        request.status === 'PENDING'
                        ) {
                        <div class="request-card">
                            @if (request.status === 'PENDING') {
                            <span class="pending">PENDING</span>
                            }
                            <p>
                                <b>Old Name:</b>
                                {{ request.oldData.user_name }}
                            </p>
                            <p>
                                <b>New Name:</b>
                                {{ request.newData.user_name }}
                            </p>
                            <hr>
                            <p>
                                <b>Old Email:</b>
                                {{ request.oldData.email }}
                            </p>
                            <p>
                                <b>New Email:</b>
                                {{ request.newData.email }}
                            </p>
                            <hr>
                            <p>
                                <b>Old Role:</b>
                                {{ request.oldData.role }}
                            </p>
                            <p>
                                <b>New Role:</b>
                                {{ request.newData.role }}
                            </p>
                            <hr>
                            <p>
                                <b>Old Reportee:</b>
                                {{ getReporteeNames(request.oldData.reportee) }}
                            </p>
                            <p>
                                <b>New Reportee:</b>
                                {{ getReporteeNames(request.newData.reportee) }}
                            </p>
                            <button type="button" (click)="acceptRequest(request)">
                                Accept
                            </button>

                            <button type="button" (click)="rejectRequest(request)">
                                Reject
                            </button>
                        </div>
                        }
                        }
                        }

                        @if (openedType === 'history') {
                        <h4>Request History</h4>
                        @for (request of requests(); track request.id) {
                        @if (request.userId === user.id) {
                        <div class="request-card">
                            <b>STATUS:</b>
                            @if (request.status === 'PENDING') {
                            <span class="pending">PENDING</span>
                            }
                            @if (request.status === 'ACCEPTED') {
                            <span class="accepted">ACCEPTED</span>
                            }
                            @if (request.status === 'REJECTED') {
                            <span class="rejected">REJECTED</span>}
                            <p>
                                <b>Old Name:</b>
                                {{ request.oldData.user_name }}
                            </p>
                            <p>
                                <b>New Name:</b>
                                {{ request.newData.user_name }}
                            </p>
                            <hr>
                            <p>
                                <b>Old Email:</b>
                                {{ request.oldData.email }}
                            </p>
                            <p>
                                <b>New Email:</b>
                                {{ request.newData.email }}
                            </p>
                            <hr>
                            <p>
                                <b>Old Role:</b>
                                {{ request.oldData.role }}
                            </p>
                            <p>
                                <b>New Role:</b>
                                {{ request.newData.role }}
                            </p>
                            <hr>
                            <p>
                                <b>Old Reportee:</b>
                                {{ getReporteeNames(request.oldData.reportee) }}
                            </p>
                            <p>
                                <b>New Reportee:</b>
                                {{ getReporteeNames(request.newData.reportee) }}
                            </p>
                        </div>
                        }
                        }
                        }
                    </div>
                </td>
            </tr>
            }
            }
        </tbody>
    </table>
</div>

@if (showAddModal) {

<div class="modal-bg" (click)="closeAddModal()">
    <div class="modal-box" (click)="$event.stopPropagation()">
        <h3>➕ Add User</h3>
        <br>
        <label>Username:</label>
        <input type="text" [(ngModel)]="newUser.user_name">
        <br><br>
        <label>Email:</label>
        <input type="email" [(ngModel)]="newUser.email">
        <br><br>
        <label>Role:</label>
        <select [(ngModel)]="newUser.role">
            @for (role of roles; track role.id) {
            <option [value]="role.name">{{ role.name }}</option>
            }
        </select>
        <br><br>
        <label class="field-label">Reportees:</label>
        <div class="reportee-box">
            <div class="actions">
                <button type="button" (click)="selectAll()">Select All</button>
            </div>
            @for (u of users(); track u.id) {
            <label class="reportee-item">
                <input type="checkbox" [checked]="selectedReportees.includes(u.user_name)"
                    (change)="toggleReportee(u.user_name)" />
                <span>{{ u.user_name }}</span>
            </label>
            }
        </div>
        <br><br>
        <button type="button" (click)="saveUser()">💾 Save User</button>
        <button type="button" (click)="closeAddModal()">❌ Cancel</button>
    </div>
</div>
}

@if (showEditModal) {

<div class="modal-bg" (click)="closeModal()">
    <div class="modal-box" (click)="$event.stopPropagation()">
        <h3>Edit User</h3>
        <br>
        <label>Username:</label>
        <input type="text" [(ngModel)]="selectedUser.user_name">
        <br><br>
        <label>Email:</label>
        <input type="email" [(ngModel)]="selectedUser.email">
        <br><br>
        <label>Role:</label>
        <select [(ngModel)]="selectedUser.role">
            @for (role of roles; track role.id) {
            <option [value]="role.name">{{ role.name }}</option>
            }
        </select>
        <br><br>
        <label class="field-label">Reportees:</label>
        <div class="reportee-box">
            <div class="actions">
                <button type="button" (click)="selectAll()">Select All</button>
            </div>
            @for (u of users().filter(x => x.id !== selectedUser.id);track u.id) {
            <label class="reportee-item">
                <input type="checkbox" [checked]="selectedReportees.includes(u.user_name)"
                    (change)="toggleReportee(u.user_name)" />
                <span>{{ u.user_name }}</span>
            </label>
            }
        </div>
        <br><br>
        <button type="button" [disabled]="isSaving" (click)="saveEditRequest()">
            💾 Save
        </button>

        <button type="button" (click)="closeModal()">
            ❌ Cancel
        </button>
    </div>
</div>
}

<div class="pagination-main">
    <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">
            ⏪
        </button>
        <span>
            Page {{ currentPage }}
            of
            {{ getTotalPages() }}
        </span>
        <button (click)="nextPage()" [disabled]="currentPage === getTotalPages()">
            ⏩
        </button>
    </div>
    <div class="total">
        <b>number of record exist: {{ users().length }}</b>
    </div>
</div>