body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 97vh;
}

.card {
    display: grid;
    justify-content: center;
    height: 330px;
    width: 230px;
    border-radius: 16px;
    background: #ffffff;
    border: 1px solid darkblue;
    padding: 10px;
}

h2{
    font-size: 30px;
    color: #3730b8;
}
label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
}
form{
    display: grid;
    gap: 5px;
}

.form-control {
    border-radius: 10px;
    padding: 10px 12px;
    border: 1px solid #ddd;
}

.form-control:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 0 0.15rem rgba(108, 99, 255, 0.25);
}

.btn-primary {
    background: #6c63ff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
}

.btn-primary:hover {
    background: #574fd6;
}

.text-danger {
    font-size: 13px;
    margin-bottom: 10px;
}